<%- include("partials/header.ejs") %>
<div class="container text-center ">
   <div>
      <h1>Wholesome and Delicious Healthy Breakfast Ideas</h1>
      <p>They say breakfast is the most important meal of the day, and for a good reason. A nutritious morning meal sets the tone for a day filled with energy and vitality. If you're tired of the same old cereal routine and are looking to kickstart your day with a burst of flavor and health, you're in the right place. In this blog, we'll explore a variety of delicious and wholesome breakfast ideas that not only satisfy your taste buds but also nourish your body, ensuring you're ready to tackle whatever the day throws your way.
      </p>
   </div>
   <div class=" row mx-4 justify-content-center ">
      
      <div class="card m-3 col-12 col-lg-4" style="width: 18rem;">
         <img src="/images/beryBliss.webp" class="card-img-top" height="150px" alt="berry bliss smoothie">
         <div class="card-body">
         <h5 class="card-title">Berry Bliss Smoothie Bowl</h5>
         </div>
         <ul class="list-group list-group-flush">
         <li class="list-group-item"> - Blend together a vibrant mix of mixed berries, a banana, Greek yogurt, and a splash of almond milk.
         </li>
         <li class="list-group-item">- Pour the smoothie into a bowl and top it with sliced strawberries, blueberries, granola, and a drizzle of honey.
         </li>
         <li class="list-group-item"> - Packed with antioxidants and vitamins, this smoothie bowl is a refreshing and satisfying way to start your day.
         </li>
         </ul>
      </div>
      <div class="card m-3 col-12 col-lg-3" style="width: 18rem;">
         <img src="/images/avocadoPoachedEgg.webp" class="card-img-top" height="150px" alt="berry bliss smoothie">
         <div class="card-body">
         <h5 class="card-title">Avocado and Poached Egg Toast</h5>
         </div>
         <ul class="list-group list-group-flush">
         <li class="list-group-item"> - Mash ripe avocado on whole-grain toast and sprinkle with a pinch of salt and pepper.
         </li>
         <li class="list-group-item">- Top the avocado toast with a perfectly poached egg for a protein-packed, savory breakfast.
         </li>
         <li class="list-group-item">  - The healthy fats from the avocado and the protein from the egg will keep you full and focused throughout the morning.
         </li>
         </ul>
      </div>
      <div class="card m-3 col-12 col-lg-3" style="width: 18rem;">
         <img src="/images/eggBurrito.jpeg" class="card-img-top" height="150px" alt="berry bliss smoothie">
         <div class="card-body">
         <h5 class="card-title">Egg and Veggie Breakfast Burrito</h5>
         </div>
         <ul class="list-group list-group-flush">
         <li class="list-group-item"> - Scramble eggs with colorful bell peppers, spinach, and tomatoes.
         </li>
         <li class="list-group-item">- Spoon the mixture onto a whole-grain tortilla, add a sprinkle of cheese, and roll it into a delicious breakfast burrito.
         </li>
         <li class="list-group-item"> - This savory option provides a hearty dose of protein and essential vitamins to fuel your morning.
         </li>
         </ul>
      </div>
   </div>
   <div class="p-4 mb-5 bg-body-tertiary rounded">
      <h3>Why breakfast is <mark>important</mark>?</h3>
     <p> Breakfast a day, keeps the doctor a way!</p>
   </div>
   <hr>
</div>
<%- include("partials/footer.ejs") %>