<%- include("partials/header.ejs") %>

<div class="row mb-2">
  <div class="col-md-6">
    <div class="row g-0 border rounded overflow-hidden flex-md-row mb-4 shadow-sm h-md-250 position-relative">
      <div class="col p-4 d-flex flex-column position-static">
        <strong class="d-inline-block mb-2 text-primary-emphasis">Food</strong>
        <h3 class="mb-0">Healthy Breakfast Ideas</h3>
        <p class="card-text mb-auto">A nutritious morning meal sets the tone for a day filled with energy and vitality.</p>
        <a href="/breakfastIdeas" class="icon-link gap-1 icon-link-hover stretched-link">
          Continue reading
          <svg class="bi"><use xlink:href="#chevron-right"></use></svg>
        </a>
      </div>
      <div class="col-auto d-none d-lg-block">
        <img src="/images/avocadoPoachedEgg.webp" class="object-fit-cover" width="200" height="250" alt="breakfats-idea">
      </div>
    </div>
  </div>
 
</div>

<%- include("partials/footer.ejs") %>