<%- include("partials/header.ejs") %>

<div class="row g-5 mx-3 pb-5">
  <div class="col-md-8">
    <h3 class="pb-4 mb-4 fst-italic border-bottom">
      From the Firehose
    </h3>

    <article class="blog-post">
      <h2 class="display-5 link-body-emphasis mb-1">2023 Fukuoka, Japan Travel</h2>
      <p class="blog-post-meta">January 20, 2024 by Jan L</p>

      <p>Konnichiwa, fellow travelers! Join me on an exploration of Fukuoka, a city where ancient traditions seamlessly blend with modern innovation. Located on the northern shores of Kyushu, Fukuoka offers a unique travel experience that captivates the heart and soul.</p>
      <hr>
      <h3>Places to go:</h3>
      <ul>
        <li>Ohori Park</li>
        <p>Begin your journey with a stroll through the picturesque Ohori Park, an oasis in the heart of the city surrounding a large central pond.</p>
        <li>Kushida Shrin</li>
        <p>Immerse yourself in Fukuoka's rich history at the Kushida Shrine, where traditional festivals and cultural events breathe life into the ancient surroundings.</p>
        <li>Canal City Hakata</li>
        <p>Indulge in a shopping extravaganza at Canal City Hakata, a unique complex featuring canals, theaters, shops, and restaurants.</p>
    </article>
      <h3>Food adventure:</h3>
      <hr>
      <p>Fukuoka is a haven for food enthusiasts. Don't miss out on Hakata ramen, the local specialty known for its rich pork broth and thin, straight noodles. Explore yatai stalls to savor street food delicacies like mentaiko (spicy cod roe) and yakitori.</p>
      <h3>Festivals</h3>
      <hr>
      <p>Witness the vibrant spirit of Fukuoka through its festivals. The Hakata Dontaku Port Festival, held annually in May, showcases colorful parades and traditional performances. Experience the energy of Yamakasa Gion Matsuri, a lively summer festival with impressive floats and lively celebrations.</p>
      <h3>Shopping and Entertainment</h3>
      <hr>
        <h4>Tenjin Underground Shopping Mall:</h4>
        <p>Indulge in a shopping spree at the Tenjin Underground Shopping Mall, featuring a variety of shops, boutiques, and eateries. It's the perfect place to find unique souvenirs and immerse yourself in the local retail scene.</p>
        <h4>Sumiyoshi River Cruise:</h4>
        <p>Embark on a leisurely Sumiyoshi River Cruise for a scenic journey through the heart of Fukuoka. Enjoy the city lights and iconic landmarks from the water, creating lasting memories.</p>
      <article class="conclusion">
        <h3>Conclusion</h3>
        <p>Fukuoka is a city that captivates the senses, offering a harmonious blend of history, culture, and culinary delights. Whether you're exploring ancient shrines, savoring local delicacies, or cruising along the river, Fukuoka invites you to embrace the spirit of adventure. Until next time, sayonara, and may your travels be filled with joy!</p>
      </article>
      <article class="carousel">
        <div id="carouselExampleIndicators" class="carousel slide">
          <div class="carousel-indicators">
            <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
            <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="1" aria-label="Slide 2"></button>
            <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="2" aria-label="Slide 3"></button>
          </div>
          <div class="carousel-inner">
            <div class="carousel-item active">
              <img src="/images/fukuoka.jpeg" class="d-block w-100" alt="...">
            </div>
            <div class="carousel-item ">
              <img src="/images/fukuoka3.jpeg" class="d-block w-100" alt="...">
            </div>
            <div class="carousel-item">
              <img src="/images/fukuoka2.avif" class="d-block w-100" alt="...">
            </div>
          </div>
          <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Previous</span>
          </button>
          <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Next</span>
          </button>
        </div>
      </article>
 </div> 
<div class="col-md-4">
    <div class="position-sticky" style="top: 2rem;">
      <div class="p-4 mb-3 bg-body-tertiary rounded">
        <h4 class="fst-italic">About</h4>
        <p class="mb-0">Fukuoka is a vibrant and culturally rich city located on the northern shore of the island of Kyushu in Japan.</p>
      </div>

    </div>
  </div>
</div>

<%- include("partials/footer.ejs") %>