<%- include("partials/header.ejs") %>

<div class="px-4 pt-5 my-5 text-center border-bottom">
  <h1 class="display-4 fw-bold text-body-emphasis">Travel Bucket Lists in 2024</h1>
  <div class="col-lg-6 mx-auto">As we step into 2024, the world beckons with a renewed sense of wanderlust, inviting travelers to embark on a journey filled with new experiences, cultural immersion, and awe-inspiring landscapes</p>
  </div>
  <div class="overflow-auto" style="max-height: 50vh;">
    <div class="container px-5">
      <img src="/images/mapWorld.jpg" class="img-fluid border rounded-3 shadow-lg mb-4" alt="World map"  loading="lazy">
    </div>
  </div>
</div>
<div class="row featurette mx-5 ">
  <div class="col-md-7">
    <h2 class="featurette-heading">Iceland:<span class="text-muted">Land of Fire and Ice</span></h2>
     <ul>
      <li>Witness the magical dance of the Northern Lights in the Arctic sky.</li>
      <li>Soak in geothermal hot springs amidst Iceland's otherworldly landscapes.</li>
      <li>Explore glaciers, waterfalls, and volcanic terrain for a nature lover's paradise.</li>
     </ul>
  </div>
  <div class="col-md-5">
    <img class="featurette-image img-fluid mx-auto" data-src="holder.js/500x500/auto" alt="iceland " style="width: 500px; height: 300px;" src="/images/iceland.jpeg" data-holder-rendered="true">
  </div>
</div>
<hr class="featurette-divider">
<div class="row featurette mx-5">
  <div class="col-md-7 order-md-2">
    <h2 class="featurette-heading">Kyoto, Japan: <span class="text-muted"> Timeless Elegance and Tradition</span></h2>
    <ul>
      <li>Immerse yourself in the rich cultural heritage of Kyoto's ancient temples and tea houses.</li>
      <li>Witness the beauty of cherry blossoms in iconic locations like Maruyama Park.</li>
      <li>Experience the grace and artistry of traditional geisha performances in the historic Gion district.</li>
     </ul>
    </div>
  <div class="col-md-5 order-md-1">
    <img class="featurette-image img-fluid mx-auto" data-src="holder.js/500x500/auto" alt="Kyoto, Japan " style="width: 500px; height: 300px;" src="/images/japan.webp" data-holder-rendered="true">
  </div>
</div>
<hr class="featurette-divider">
<div class="row featurette mx-5 ">
  <div class="col-md-7">
    <h2 class="featurette-heading">Tuscany, Italy:<span class="text-muted">Vineyards, Villages, and Rolling Hills</span></h2>
     <ul>
      <li>Explore the charming villages of Tuscany, such as San Gimignano and Montepulciano.</li>
      <li>Savor world-renowned Tuscan wines in the heart of Italy's wine country.</li>
      <li>Enjoy scenic drives through rolling hills dotted with vineyards and olive groves.</li>
     </ul>
  </div>
  <div class="col-md-5">
    <img class="featurette-image img-fluid mx-auto" data-src="holder.js/500x500/auto" alt="italy " style="width: 500px; height: 300px;" src="/images/italy.webp" data-holder-rendered="true">
  </div>
</div>
<hr class="featurette-divider">
<div class="row featurette mx-5">
  <div class="col-md-7 order-md-2">
    <h2 class="featurette-heading">Norwegian Fjords: <span class="text-muted">  A Scenic Cruise Adventure</span></h2>
    <ul>
      <li>Cruise through Norway's majestic fjords, surrounded by steep cliffs and waterfalls.</li>
      <li>Explore picturesque villages nestled along the shores of these natural wonders.</li>
      <li>Experience the serenity and beauty of the Norwegian landscape from the comfort of your cruise ship.</li>
     </ul>
    </div>
  <div class="col-md-5 order-md-1">
    <img class="featurette-image img-fluid mx-auto" data-src="holder.js/500x500/auto" alt="Norway " style="width: 500px; height: 300px;" src="/images/norway.jpeg" data-holder-rendered="true">
  </div>
</div>


<%- include("partials/footer.ejs") %>