<%- include("partials/header.ejs") %>
<div class="row mb-2">
  <div class="col-md-6">
    <div class="row g-0 border rounded overflow-hidden flex-md-row mb-4 shadow-sm h-md-250 position-relative">
      <div class="col p-4 d-flex flex-column position-static">
        <strong class="d-inline-block mb-2 text-primary-emphasis">Travel</strong>
        <h3 class="mb-0">Travel Bucket Lists in 2024</h3>
        <p class="card-text mb-auto">As we step into 2024, the world beckons with a renewed sense of wanderlust, inviting travelers to embark on a journey filled with new experiences, cultural immersion, and awe-inspiring landscapes. </p>
        <a href="/TravelBucket" class="icon-link gap-1 icon-link-hover stretched-link">
          Continue reading
          <svg class="bi"><use xlink:href="/TravelBucket"></use></svg>
        </a>
      </div>
      <div class="col-auto d-none d-lg-block">
        <img class="object-fit-cover" width="200" height="250" src="/images/mapWorld.jpg" alt="travel bucket lists">
      </div>
    </div>
  </div>

  <div class="col-md-6">
    <div class="row g-0 border rounded overflow-hidden flex-md-row mb-4 shadow-sm h-md-250 position-relative">
      <div class="col p-4 d-flex flex-column position-static">
        <strong class="d-inline-block mb-2 text-success-emphasis">Travel</strong>
        <h3 class="mb-0">2023 Fukuoka, Japan Travel</h3>
        <p class="mb-auto"> Fukuoka is a vibrant and culturally rich city located on the northern shore of the island of Kyushu in Japan.</p>
        <a href="/fukuoka" class="icon-link gap-1 icon-link-hover stretched-link">
          Continue reading
          <svg class="bi"><use xlink:href="#chevron-right"></use></svg>
        </a>
      </div>
      <div class="col-auto d-none d-lg-block">
        <img class="object-fit-cover" width="200" height="250" src="/images/fukuoka.jpeg" alt="fukuoka,japan">
      </div>
    </div>
  </div>
  <!--condition-->
</div>

<%- include("partials/footer.ejs") %>