body{
  background-color:#ECE8E5;
  height: 100vh; 
}
#body div.headline{
  background-color: rgb(59, 103, 168);

}
#footer{
  position: fixed;
  bottom: 0;
  width: 100%;
  margin-top: 20%;
}
#footer div.container-fluid,
#header div.container-fluid{
  background-color: #AF8686;
}
img.logo{
  border-radius: 50%;
  height: 50px;
}
img.yoga-pic{
  height: 80vh;
  object-fit: cover;
}